table {
  border-collapse: collapse;
  width: 100%;
  align-items: center;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: fit-content;
}

tr:hover {
  background-color: #d6eeee;
}

.tableButton{
    width: 6rem;
    height: 1.5rem;
    margin-right: 1rem;
}

#editButton {
    background-color: forestgreen;
    color: white;
}

#editButton:hover{
    scale: 1.1;
}

#deleteButton {
    background-color: red;
    color: white;
}

#deleteButton:hover{
    scale: 1.1;
}